.Rproj.user
.Rhistory
.Rdata
*.rds
.httr-oauth
.DS_Store
*.pdf
*.docx
*.do
*Contracts/
*Presentations/
*Output/
*Data/household_budget_survey_in_2021
*Survey Design/
*Writing/


_targets

*gadm/
*gadm*

Data/power-sims.csv

/.quarto/
