.Rproj.user
.Rhistory
.Rdata
*.rds
.httr-oauth
.DS_Store
*.pdf
*.docx
*.xlsx
*.do
*.jpg
*Contracts/
*Presentations/
*Output/
*Data/
*Survey Design/
*Writing/

_targets

*gadm/
*gadm*

Data/power-sims.csv

/.quarto/
